.animal-form {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.animal-form__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: rgba(0, 0, 0, 0.7);
}

.animal-form__panel {
    position: fixed;
    max-width: 430px;
    max-height: 585px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid transparent;
    z-index: 300;
}

.animal-form__close {
    position: absolute;
    padding: 5px 25px;
    color: #764E44;
    right: 0;
    font-family: none, serif;
    font-size: 52px;
    cursor: pointer;
}

.animal-form__title {
    margin: 40px 20px 0;
    line-height: 1.5;
    color: #764E44;
    font-size: 24px;
    text-align: center;
}

.container {
    max-width: 1244px;
    margin: auto;
    padding: 0 3%;
}

.form {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2rem;
}

.form__group {
    position: relative;
    margin-bottom: 20px;
}

.form__group:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form__control {
    width: 100%;
    height: 44px;
    font-size: 14px;
    padding: 6px 12px 6px 12px;
    border: 1px solid #cbcbd2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form__btn {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    background-color: #764E62;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    line-height: 1.33;
}

.is-invalid {
    border-left: 5px solid #a94442 !important;
}

.is-valid {
    border-left: 5px solid #42A948;
}
