<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
<div class="calc-container">
    <div class="ios-calculator">
        <div class="calc">
            <div class="calc-solution horizontal-scroll-wrapper"></div>
            <div class="calc-buttons-container">
                <div class="calc-buttons-row">
                    <div data-func="cancel" class="calc-button calc-button-double calc-button-func">←</div>
                    <div data-func="sqrt" class="calc-button calc-button-func">√x</div>
                    <div data-operand="pow" class="calc-button calc-button-operand">x^y</div>
                </div>
                <div class="calc-buttons-row">
                    <div data-func="reset" class="calc-button calc-button-func">AC</div>
                    <div data-func="plus-minus" class="calc-button calc-button-func">+</div>
                    <div data-func="percentage" class="calc-button calc-button-func">%</div>
                    <div data-operand="divide" class="calc-button calc-button-operand">÷</div>
                </div>
                <div class="calc-buttons-row">
                    <div data-digit="7" class="calc-button calc-button-digit">7</div>
                    <div data-digit="8" class="calc-button calc-button-digit">8</div>
                    <div data-digit="9" class="calc-button calc-button-digit">9</div>
                    <div data-operand="multiply" class="calc-button calc-button-operand">x</div>
                </div>
                <div class="calc-buttons-row">
                    <div data-digit="4" class="calc-button calc-button-digit">4</div>
                    <div data-digit="5" class="calc-button calc-button-digit">5</div>
                    <div data-digit="6" class="calc-button calc-button-digit">6</div>
                    <div data-operand="minus" class="calc-button calc-button-operand">-</div>
                </div>
                <div class="calc-buttons-row">
                    <div data-digit="1" class="calc-button calc-button-digit">1</div>
                    <div data-digit="2" class="calc-button calc-button-digit">2</div>
                    <div data-digit="3" class="calc-button calc-button-digit">3</div>
                    <div data-operand="plus" class="calc-button calc-button-operand">+</div>
                </div>
                <div class="calc-buttons-row">
                    <div data-digit="0" class="calc-button calc-button-double calc-button-digit">0</div>
                    <div data-digit="." class="calc-button calc-button-digit">,</div>
                    <div data-operand="solution" class="calc-button calc-button-operand">=</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/main.js"></script>
</body>
</html>