<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Прогноз погоды</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <section class="searcher">
        <div class="container">
            <div class="searcher__header">
                <div class="searcher__input-wrapper">

                    <input class="searcher__input" type="text" value="london">
                    <div class="searcher__btn"></div>
                </div>
                <div class="title">Самара</div>
                <div class="icon"></div>
                <div class="clouds">Облачно</div>
                <div class="temp">9&deg;</div>
                <div class="extremum">Макс. <span class="max">11°</span>, мин. <span class="min">9°</span></div>

            </div>
        </div>
    </section>
    <section class="weather">
        <div class="container">
            <div class="weather__list"></div>
        </div>
    </section>
</div>
<script src="../js/app.js"></script>
</body>
</html>