<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="container">
            <div class="left"><img src="../images/logo.png" height="50px" alt="Логотип"></div>
            <div class="right">
                <ul class="menu-list">
                    <li class="menu-item"><a class="menu-link" href="#">Features</a></li>
                    <li class="menu-item"><a class="menu-link" href="#">About</a></li>
                    <li class="menu-item"><a class="menu-link" href="#">Pricing</a></li>
                    <li class="menu-item"><a class="menu-link" href="#">Reviews</a></li>
                    <li class="menu-item"><a class="menu-link" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="preview">
            <div class="main-logo"><span>Insert your picture here</span></div>
            <div class="container">
                <div class="left">
                    <img src="../images/logo.png" height="50px" alt="Логотип">
                    <h1 class="title">MODERN AXURE TEMPLATE FOR BEAUTIFUL PROTOTYPES</h1>
                    <hr class="hr-shadow">
                    <span class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque eaque
                        error ipsum
                        perspiciatis. Architecto, corporis eaque et eum in maxime mollitia odio porro sunt totam. Incidunt ipsam officia quidem!</span>
                    <div class="download">
                        <button>Download</button>
                    </div>
                </div>
                <div class="right">
                    <div class="panel">
                        <div class="panel-header">Try Your <span>FREE</span> Trial Today</div>
                        <form action="/login" method="post" role="form">
                            <div class="form-group">
                                <input class="form-control" id="name" name="name" placeholder="Имя" type="text"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="login" name="login" placeholder="Логин" type="text"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="password" name="password" placeholder="Пароль" type="password"/>
                            </div>
                            <button class="btn-lg" name="commit" type="submit" value="Log In">Get Started
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="container">
                <div class="left">
                    <div class="subtitle">Social Media</div>
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, animi asperiores
                        assumenda,
                        expedita explicabo facilis fuga impedit inventore
                    </div>
                </div>
                <div class="right">
                    <ul class="media-list">
                        <li class="media-item"><a class="media-link" href="#"><img src="../images/icons-facebook.png"
                                                                                   alt=""></a></li>
                        <li class="media-item"><a class="media-link" href="#"><img src="../images/icons-vk.png"
                                                                                   alt=""></a></li>
                        <li class="media-item"><a class="media-link" href="#"><img src="../images/icons-twitter.png"
                                                                                   alt=""></a></li>
                        <li class="media-item"><a class="media-link" href="#"><img src="../images/icons-google-plus.png"
                                                                                   alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section white-smoke">
            <div class="left ">
                <ul class="sidebar-list">
                    <li class="sidebar-item sidebar-item_active">TAB1</li>
                    <li class="sidebar-item">TAB2</li>
                    <li class="sidebar-item">TAB3</li>
                </ul>
            </div>
            <div class="left">
                <div class="subtitle">Tabs with soft transitioning effect.</div>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum dolores eum eveniet
                    minus,
                    molestias
                    quas quasi quo ratione sapiente tenetur ut. Dicta perspiciatis quam repellat tenetur vel voluptates
                    voluptatum.
                </p>
                <p class="desc">Iure libero odio pariatur ratione temporibus, voluptatibus! A at cupiditate, doloribus
                    earum enim
                    minima
                    minus.
                </p>
                <div class="b-effect__button">
                    <button>Download</button>
                </div>
            </div>
            <div class="right"><img src="../images/cities.PNG" alt="города"></div>
        </div>
        <div class="section">
            <div class="left">
                <img class="shadow-bg" src="../images/Insert-picture.PNG" alt="">
            </div>
            <div class="left">
                <div class="subtitle">Sub list section</div>
                <hr align="left" class="hr-line">
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto consectetur
                    deserunt
                    eveniet
                    excepturi facilis illo illum iste molestiae non odit quibusdam rerum, vitae. Cupiditate dicta
                    doloribus
                    exercitationem qui voluptatum.
                </div>
                <div class="f-group">
                    <div class="icon"></div>
                    <div class="content">
                        <h4>Title</h4>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto
                            consectetur
                            deserunt eveniet
                            excepturi
                        </div>
                    </div>
                </div>
                <div class="f-group">
                    <div class="icon"></div>
                    <div class="content">
                        <h4>Title</h4>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto
                            consectetur
                            deserunt eveniet
                            excepturi
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white-smoke">
            <div class="left">
                <div class="subtitle">Sub list section</div>
                <hr align="left" class="hr-line">
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto consectetur
                    deserunt
                    eveniet
                    excepturi facilis illo illum iste molestiae non odit quibusdam rerum, vitae. Cupiditate dicta
                    doloribus
                    exercitationem qui voluptatum.</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto consectetur
                    deserunt
                    eveniet
                    excepturi</p>
            </div>
            <div class="right"><img class="shadow-bg" src="../images/Insert-picture.PNG" alt=""></div>
        </div>
        <div class="section">
            <table class="table" cellpadding="15">
                <tr>
                    <td align="center" colspan="3" class="table-header">
                        <div class="tb-title">WHY THIS IS AWESOME</div>
                        <hr class="hr-line">
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </td>
                </tr>
                <tr align="center">
                    <td class="table-cell">
                        <img src="../images/icon-design.PNG" alt="">
                        <div class="subtitle">Thoughtful Design</div>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto
                            consectetur
                            deserunt eveniet
                            excepturi
                        </div>
                    </td>
                    <td class="table-cell">
                        <img src="../images/icon-crafted.PNG" alt="">
                        <div class="subtitle">Well Crafted</div>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto
                            consectetur
                            deserunt eveniet
                            excepturi
                        </div>
                    </td>
                    <td class="table-cell">
                        <img src="../images/icon-customize.PNG" alt="">
                        <div class="subtitle">Easy to Customize</div>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto
                            consectetur
                            deserunt eveniet
                            excepturi
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section white-smoke">
            <table class="table" cellpadding="15" cellspacing="10">
                <tr>
                    <td class="table-header" align="center" colspan="3">
                        <div class="tb-title">PRICING OPTIONS</div>
                        <hr class="hr-line">
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </td>
                </tr>
                <tr align="center">
                    <td class="table-cell" valign="bottom">
                        <div class="package">
                            <div class="package-pricing">
                                <div class="package-title">Basic</div>
                                <div class="package-price">
                                    <span>$</span>0
                                </div>
                                <div class="package-plan">Free For Life</div>
                            </div>
                            <div class="package-details">
                                <div>1 GB OF SPACE</div>
                                <div>10 GB OF BANDWIDTH</div>
                                <div>3 WEBSITES</div>
                                <div>BASIC CUSTOMIZATION</div>
                                <div>WORDPRESS INTEGRATION</div>
                                <div>EMAIL SUPPORT</div>
                            </div>
                        </div>
                    </td>
                    <td class="table-cell">
                        <div class="package">
                            <div class="package-pricing">
                                <div class="package-title">Professional</div>
                                <div class="package-price"><span>$</span>19</div>
                                <div class="package-plan">Monthly Payment</div>
                            </div>
                            <div class="package-popular">OUR MOST POPULAR</div>
                            <div class="package-details">
                                <div>5 GB OF SPACE</div>
                                <div>50 GB OF BANDWIDTH</div>
                                <div>12 WEBSITES</div>
                                <div>ADVANCED CUSTOMIZATION</div>
                                <div>WORDPRESS INTEGRATION</div>
                                <div>EMAIL SUPPORT</div>
                            </div>
                        </div>
                    </td>
                    <td class="table-cell" valign="bottom">
                        <div class="package">
                            <div class="package-pricing">
                                <div class="package-title">Enterprise</div>
                                <div class="package-price"><span>$</span>70</div>
                                <div class="package-plan">Monthly Payment</div>
                            </div>
                            <div class="package-details">
                                <div>UNLIMITED SPACE</div>
                                <div>UNLIMITED BANDWIDTH</div>
                                <div>100 WEBSITES</div>
                                <div>ADVANCED CUSTOMIZATION</div>
                                <div>WORDPRESS INTEGRATION</div>
                                <div>24/7 CUSTOMER SUPPORT</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <table class="table" cellpadding="45" cellspacing="0">
                <tr>
                    <td align="center" colspan="3" class="table-header">
                        <div class="tb-title">WHAT OUR CUSTOMERS ARE SAYING</div>
                        <hr class="hr-line">
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </td>
                </tr>
                <tr align="center">
                    <td class="table-cell">
                        <div class="message">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto consectetur deserunt
                            eveniet excepturi
                        </div>
                        <div class="customer">
                            <div class="customer-avatar">
                                <img src="../images/icon-design.PNG" alt="">
                            </div>
                            <div class="customer-name">
                                <div class="subtitle">Jeremy H.</div>
                                <div class="desc">Manager</div>
                            </div>
                        </div>
                    </td>
                    <td class="table-cell">
                        <div class="message">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto consectetur deserunt
                            eveniet excepturi
                        </div>
                        <div class="customer">
                            <div class="customer-avatar">
                                <img src="../images/icon-design.PNG" alt="">
                            </div>
                            <div class="customer-name">
                                <div class="subtitle">John S.</div>
                                <div class="desc">Freelancer</div>
                            </div>
                        </div>
                    </td>
                    <td class="table-cell">
                        <div class="message">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto consectetur deserunt
                            eveniet excepturi
                        </div>
                        <div class="customer">
                            <div class="customer-avatar">
                                <img src="../images/icon-design.PNG" alt="">
                            </div>
                            <div class="customer-name">
                                <div class="subtitle">Susan W.</div>
                                <div class="desc">Photographer</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="design">
            <div class="heading">
                <div class="title">STYLISH AXURE DESIGN</div>
                <hr class="hr-line">
                <div class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="download">
                    <button>Download</button>
                </div>
                <div class="design-img">Insert your picture here</div>
            </div>
        </div>
        <div class="section">
            <table class="table" cellpadding="15">
                <tr>
                    <td align="center" colspan="2" class="table-header">
                        <div class="tb-title">CONTACT US</div>
                        <hr align="center" class="hr-line">
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </td>
                </tr>
                <tr align="center">
                    <td class="table-cell">
                        <input class="contact-field" type="text" name="name" placeholder="Name">
                        <input class="contact-field" type="text" name="email" placeholder="Email">
                        <input class="contact-field" type="text" name="subject" placeholder="Subject">
                    </td>
                    <td class="table-cell">
                        <textarea class="contact-field" name="message" cols="10" rows="10"
                                  placeholder="Message"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <input class="contact-btn" type="submit" value="Send Message">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        <div class="footer-social">
            <ul class="media-list">
                <li class="media-item"><a class="media-link" href="#"><img src="../images/icons-facebook.png"
                                                                           alt=""></a></li>
                <li class="media-item"><a class="media-link" href="#"><img src="../images/icons-vk.png"
                                                                           alt=""></a></li>
                <li class="media-item"><a class="media-link" href="#"><img src="../images/icons-twitter.png"
                                                                           alt=""></a></li>
                <li class="media-item"><a class="media-link" href="#"><img src="../images/icons-google-plus.png"
                                                                           alt=""></a></li>
            </ul>
        </div>
        <div class="footer-copyright">Muhutdinov Rifat</div>
    </div>
</div>
</body>
</html>